.top_nav {
    height: 100px;
    background-color: #0e161e;
    display: flex;
    align-items: center;
    padding: 0px 250px;
}

.top_nav img {
    height: 70%;
}

.card {
    height: 100%;
    padding: 20px 30px;
    background-color: #0e161e;
}

.card-body {
    text-align: center;
    color: white;
}

#app {
    background-color: #1d2d3c;
}

.overlay {
    height: 98vh;
    width: 98vw;
    background-color: rgba(17, 32, 49, .95);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.card-container {
    width: 25%;
}

.toggled {
    background-color: transparent;
    border: 0;
}

.btn-container {
    right: 24px;
    top: 24px;
}

.col-3 {
    width: 28%;
}